.class-content-left {
  background: whitesmoke;
  border-right: #eeeeee 2px solid;
}

.class-content-left-card > .ant-card-body {
  max-height: 100%;
}

.class-content-left-tabs {
  max-height: calc(65vh - 46px - 16px);
  width: 100%;
}

.class-content-left-tabs .ant-tabs-content-holder {
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
}

.class-content-left-menu {
  border-inline-end: none !important;
}

.course_switch_tabs > .ant-tabs-nav,
.course_switch_tabs > .ant-tabs-nav::before {
  border-bottom: unset !important;
}

@media screen and (max-width: 992px) {
  .course_switch_tabs > .ant-tabs-nav,
  .course_switch_tabs > .ant-tabs-nav::before {
    margin: 0;
  }
}
